.about
    margin-top: $mobile-top
    padding-left: 25px
    padding-right: 25px
    text-align: center
    font-size: 1em
    img
        border: 1px solid black
        border-radius: 50%
    h2
        font-weight: 600
        font-size: 1.4em
        text-decoration: underline
    h3
        font-weight: 600
        font-size: 1.2em
        text-decoration: underline
    .marked
        color: $main
        font-style: italic
        text-decoration: underline
    .skills
        margin-top: 12.5px
        .skill
            text-align: left
            margin-top: 12.5px
            margin-bottom: 12.5px
            .skillbar
                border-radius: 25em
                height: 20px
                width: 100%
                background-color: $skillbar-base
                .progress
                    border-radius: 25em
                    height: 20px
                    background-color: $skillbar-progress