.container
  background-color: rgba(255, 255, 255, 0.7)
  padding: .5rem
  margin-left: auto
  margin-right: auto
  width: 95vw
  text-align: center
  .container__image
    width: 100%
  .container__text
    .container__text__head
      color: $main
      font-size: 2rem
    .container__text__subhead
      color: $main
      font-size: 1.5rem
    .container__text__introduction
      font-size: 1rem
      .HTML, .CSS, .JS, .PHP
        padding: .1rem
        font-weight: bold
      .HTML
        background-color: $HTML
        color: white
        text-decoration: underline
      .CSS
        background-color: $CSS
        color: white
        text-decoration: underline
      .JS
        color: white
        background-color: $JS
        text-decoration: underline
      .PHP
        color: white
        background-color: $PHP
        text-decoration: underline
    .container__text__description
      .HTML, .CSS, .JS, .PHP
        padding: .1rem
        font-weight: bold
      .HTML
        color: white
        background-color: $HTML
        text-decoration: underline
      .CSS
        color: white
        background-color: $CSS
        text-decoration: underline
      .JS
        color: white
        background-color: $JS
        text-decoration: underline
      .PHP
        color: white
        background-color: $PHP
        text-decoration: underline

@media screen and (min-width: $tablet)
  .container
    box-shadow: $black-box
    width: 90vw
    height: 100vh
    margin-left: auto
    margin-right: auto
    display: grid
    grid-template-areas: "image ." "image text"  "image ."
    .container__image
      object-fit: contain
      grid-area: image
      width: available
      height: 100%
    .container__text
      word-break: break-word
      text-align: left
      grid-area: text
