footer
    margin-top: 1rem
    display: grid
    grid-template-columns: 1fr auto auto
    color: #fff
    text-align: justify
    padding: 1rem
    background-color: $main
.copy
    margin: auto
.socials
    a
        padding: .5rem
        color: #fff
        font-size: 2rem

@media screen and ( min-width: $tablet-desktop )
    footer
        .socials
            a
                &:hover
                    color: $skillbar-base
    