.intro-screen
    background: linear-gradient($header, $header), $background-image
    background-size: cover
    background-position: center
    width: $full-view-width
    height: $full-view-height
    margin-bottom: $mobile-bottom
    .head-text
        position: absolute
        top: 45%
        width: 100%
        text-align: center
        color: $arrow-down
        text-shadow: 2px 2px 3px black
.arrow-down
    position: absolute
    text-align: center
    display: block
    left: 50%
    right: 50%
    color: $arrow-down
    font-size: 31px
    bottom: 50px