.projects-container
    margin-top: $mobile-bottom
    padding-left: 25px
    padding-right: 25px
.container-item
    text-align: center
    font-size: 14px
    margin-top: $mobile-top
    margin-bottom: $mobile-bottom
    h2
        font-size: 20px
    img
        height: 236px
        width: 100%
        object-fit: contain
    .read
        color: $readmore
        background: none
        border: none
        text-decoration: underline
    .links
        .link
            height: 35px
            font-size: 18px
            a
                display: inline-block
                margin-top: auto
                margin-bottom: auto
                text-decoration: none
                color: $link
        .icon
            display: inline-block
            font-size: 34px
