.projects-container
    margin-top: $mobile-bottom
    padding-left: 25px
    padding-right: 25px
.container-item
    text-align: center
    font-size: 1em
    margin-top: $mobile-top
    margin-bottom: $mobile-bottom
    h2
        font-size: 20px
    img
        height: 236px
        width: 100%
        object-fit: contain
    .HTML
        color: $HTML
    .CSS
        color: $CSS
    .PHP
        color: $PHP
    .JS
        color: $JS
    .HTML, .CSS, .PHP, .JS
        font-weight: 600
        text-decoration: underline
    .read
        color: $readmore
        background: none
        border: none
        text-decoration: underline
   
    .links
        .no-link
            height: 35px
            font-size: 1.7em
            color: $no-link
            a
                pointer-events: none
                display: inline-block
                margin-top: auto
                margin-bottom: auto
                text-decoration: line-through
                color: $no-link
        .link
            height: 35px
            font-size: 1.7em
            a
                display: inline-block
                margin-top: auto
                margin-bottom: auto
                text-decoration: none
                color: $link
