// heights & Widths
$full-view-height: 100vh;
$full-view-width: 100vw;

// margins
$mobile-top: 50px;
$mobile-bottom: 50px;

// fonts
$Open-Sans: 'Open Sans', sans-serif;

// backgrounds
$background-image: url("../images/my-monitor.jpg");

// colors
$main: #000080;
$no-link: #a30303;
$HTML: #ff9000;
$CSS: #04c0e5;
$PHP: #6801b2;
$JS: #f05a28;
$link: #000000;
$arrow-down: #ffffff;
$readmore: #0033FF;
$header: rgba(0,0,0,0.5);
$skillbar-base: #DADADA;

// viewports
$tablet-desktop: 1024px;

// drop shadows
$skillbar-ds: 0px 2px 3px rgba(0,0,0, 0.5);