@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap')
@import 'vars'


*
    margin: 0
    padding: 0
    scroll-behavior: smooth
html, body
    max-width: 100%
    overflow-x: hidden
body
    background-position: center
    background-repeat: no-repeat
    background-image: $body-background-img
    background-attachment: fixed
    background-size: cover
    font-family: $Open-Sans
.more
    display: none
@media screen and (min-width: $tablet-desktop)
    main
        max-width: 90vw
        display: grid
        grid-template-columns: 1fr 1fr
        grid-gap: 100px
        margin-left: auto
        margin-right: auto
@import 'header'
@import 'projects-container'
@import 'container'
@import 'about-section'
@import 'contact-form'
@import 'footer'