@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
}
body main .info {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.7);
}

@media screen and (min-width: 1024px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
    margin-left: auto;
    margin-right: auto;
  }
  main .info {
    border-radius: 1rem;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.7);
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1150px) {
  main {
    max-width: 95vw;
  }
  main .info {
    width: unset;
    grid-column: 1/-1;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5%;
  }
}
/* pas de stijl van het introductie scherm aan */
.intro-screen {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/my-monitor.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  margin-bottom: 50px;
}
.intro-screen .head-text {
  /* Pas de stijl voor de tekst in het introscherm aan */
  position: absolute;
  top: 25%;
  bottom: auto;
  width: 100%;
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px 3px black;
}
.intro-screen .head-text .head__links {
  /* Pas de stijl van de links container in het introscherm aan */
  margin-top: 1.5rem;
  display: inline-block;
}
.intro-screen .head-text .head__links .head__link {
  /* Pas de stijl van de links in het introscherm aan */
  display: inline-block;
  margin-top: 1rem;
  color: #ffffff;
  padding: 1rem;
  font-weight: 600;
  font-size: 1.2rem;
  text-decoration: none;
  border-top-width: 3px;
  border-right-width: 1.5px;
  border-bottom-width: 1.5px;
  border-left-width: 3px;
  border-style: solid;
  transition: color, 1s;
}

.arrow-down {
  /* Pas de stijl van het pijltje in het introscherm aan */
  position: absolute;
  text-align: center;
  display: block;
  right: 50%;
  left: 50%;
  margin-left: -13.5px;
  margin-right: -13.5px;
  color: #ffffff;
  font-size: 31px;
  bottom: 50px;
}

.project-nav {
  /* Pas de stijl voor de knoppen bovenin de projectpagina aan */
  width: 100vw;
  display: flex;
  justify-content: space-between;
}
.project-nav .project-nav__prev, .project-nav .project-nav__home, .project-nav .project-nav__next {
  width: 32vw;
  background-color: #000080;
  color: #ffffff;
  padding: 1rem;
  border-style: none;
}

@media screen and (min-width: 1024px) {
  /* Pas de stijlen voor het introscherm aan voor PC weergave */
  .intro-screen .head-text .head__links {
    margin-top: 1.5rem;
    display: inline-block;
    max-width: 25%;
  }
  .intro-screen .head-text .head__links .head__link {
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.2);
  }
  .intro-screen .head-text .head__links .head__link:hover {
    color: #ffffff;
  }
}
.projects-container {
  margin-top: 50px;
  padding-left: 25px;
  padding-right: 25px;
}

.container-item {
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.7);
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  font-size: 1em;
  margin-top: 50px;
  margin-bottom: 50px;
}
.container-item h2 {
  color: #000080;
  font-size: 1.2rem;
}
.container-item img {
  height: 236px;
  width: 100%;
  object-fit: contain;
}
.container-item .HTML {
  color: #ff9000;
}
.container-item .CSS {
  color: #04c0e5;
}
.container-item .PHP {
  color: #6801b2;
}
.container-item .JS {
  color: #f05a28;
}
.container-item .HTML, .container-item .CSS, .container-item .PHP, .container-item .JS {
  font-weight: 600;
  text-decoration: underline;
}
.container-item .read {
  margin: 1.5rem 0 1.5rem 0;
  padding: 1rem;
  font-weight: bold;
  font-size: 1rem;
  color: #ffffff;
  background-color: #000080;
  border: none;
  border-radius: 25rem;
}
.container-item .links .link {
  font-size: 1.5em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  color: #000080;
}
.container-item .links .link a {
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
  text-decoration: none;
  color: #000080;
}
.container-item .links .icon {
  margin-right: 0.3em;
}

@media screen and (min-width: 1024px) {
  .projects-container {
    width: 95%;
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
    padding: unset;
    margin-left: auto;
    margin-right: auto;
  }

  .container-item {
    max-height: unset;
    display: grid;
    grid-template-rows: 1fr auto auto auto;
    border-bottom: unset;
    margin: unset;
  }
  .container-item img {
    object-fit: contain;
    width: 100%;
  }
  .container-item p {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }
  .container-item .read {
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
    cursor: pointer;
  }
  .container-item .links .link {
    padding: 0;
    height: unset;
    font-size: 1.2em;
  }
  .container-item .links .link a {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 1150px) {
  .projects-container {
    width: unset;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1/-1;
  }
  .projects-container .container-item {
    min-height: 550px;
  }
  .projects-container .container-item img {
    height: unset;
    object-fit: contain;
    width: 100%;
    max-height: 325px;
  }
}
.container {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 95vw;
  text-align: center;
}
.container .container__image {
  width: 100%;
}
.container .container__text .container__text__head {
  color: #000080;
  font-size: 2rem;
}
.container .container__text .container__text__subhead {
  color: #000080;
  font-size: 1.5rem;
}
.container .container__text .container__text__introduction {
  font-size: 1rem;
}
.container .container__text .container__text__introduction .HTML, .container .container__text .container__text__introduction .CSS, .container .container__text .container__text__introduction .JS, .container .container__text .container__text__introduction .PHP {
  padding: 0.1rem;
  font-weight: bold;
}
.container .container__text .container__text__introduction .HTML {
  background-color: #ff9000;
  color: white;
  text-decoration: underline;
}
.container .container__text .container__text__introduction .CSS {
  background-color: #04c0e5;
  color: white;
  text-decoration: underline;
}
.container .container__text .container__text__introduction .JS {
  color: white;
  background-color: #f05a28;
  text-decoration: underline;
}
.container .container__text .container__text__introduction .PHP {
  color: white;
  background-color: #6801b2;
  text-decoration: underline;
}
.container .container__text .container__text__description .HTML, .container .container__text .container__text__description .CSS, .container .container__text .container__text__description .JS, .container .container__text .container__text__description .PHP {
  padding: 0.1rem;
  font-weight: bold;
}
.container .container__text .container__text__description .HTML {
  color: white;
  background-color: #ff9000;
  text-decoration: underline;
}
.container .container__text .container__text__description .CSS {
  color: white;
  background-color: #04c0e5;
  text-decoration: underline;
}
.container .container__text .container__text__description .JS {
  color: white;
  background-color: #f05a28;
  text-decoration: underline;
}
.container .container__text .container__text__description .PHP {
  color: white;
  background-color: #6801b2;
  text-decoration: underline;
}

@media screen and (min-width: 1024px) {
  .container {
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.7);
    width: 90vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-areas: "image ." "image text" "image .";
  }
  .container .container__image {
    object-fit: contain;
    grid-area: image;
    width: available;
    height: 100%;
  }
  .container .container__text {
    word-break: break-word;
    text-align: left;
    grid-area: text;
  }
}
.about {
  margin-top: 50px;
  padding-top: 1rem;
  padding-left: 25px;
  padding-bottom: 1rem;
  padding-right: 25px;
  text-align: center;
  font-size: 1em;
}
.about img {
  width: 130px;
  height: 130px;
  border: 1px solid black;
  border-radius: 50%;
}
.about h2 {
  color: #000080;
  font-weight: 600;
  font-size: 1.4em;
  text-decoration: underline;
}
.about h3 {
  color: #000080;
  font-weight: 600;
  font-size: 1.2em;
  text-decoration: underline;
}
.about .marked {
  color: #000080;
  font-style: italic;
  text-decoration: underline;
}
.about .skills {
  margin-top: 25px;
}
.about .skills .skill {
  text-align: left;
  margin-top: 25px;
  margin-bottom: 25px;
}
.about .skills .skill strong {
  color: #000080;
}
.about .skills .skill .skillbar {
  border-radius: 25em;
  height: 20px;
  width: 100%;
  background-color: #DADADA;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
}
.about .skills .skill .skillbar .progress {
  border-radius: 25em;
  height: 20px;
  background-color: #000080;
}
.about .skills .skills__download .download__button {
  display: inline-block;
  margin-top: 0.5rem;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  padding: 1rem;
  background-color: #000080;
  border-radius: 2rem;
}

@media screen and (min-width: 1024px) {
  .about {
    padding: 1.5rem;
    margin-top: unset;
  }
  .about img {
    float: left;
    margin-bottom: 1em;
    margin-right: 1em;
    height: 200px;
    width: 200px;
  }
  .about .skills {
    margin-top: 25px;
  }
  .about .skills .skill {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .about .skills .skill .skillbar {
    margin-left: auto;
    margin-right: auto;
    border-radius: 25em;
    height: 20px;
    width: 70%;
    background-color: #DADADA;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
  }
  .about .skills .skill .skillbar .progress {
    border-radius: 25em;
    height: 20px;
    background-color: #000080;
  }
}
.contact-form {
  padding: 1rem;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 1em;
}
.contact-form h2 {
  color: #000080;
  font-size: 20px;
}
.contact-form form input[type=text],
.contact-form form input[type=email] {
  font-size: 1.2em;
  color: #000000;
  margin-top: 6.5px;
  margin-bottom: 6.5px;
  width: 100%;
  height: 50px;
  background-color: rgba(205, 205, 255, 0.65);
  border: none;
  border-radius: 25em;
  text-align: center;
  box-shadow: 0 2px 1px 0 black;
}
.contact-form form input[name=subject] {
  width: 100%;
  box-shadow: 0 2px 1px 0 black;
}
.contact-form form textarea {
  font-size: 1.2em;
  background-color: rgba(205, 205, 255, 0.65);
  color: #000000;
  margin-top: 6.5px;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 6.5px;
  border: none;
  border-radius: 25px;
  padding: 15px;
  box-shadow: 0 2px 1px 0 black;
}
.contact-form form input[type=submit] {
  margin-top: 6.5px;
  margin-bottom: 6.5px;
  background-color: #000080;
  color: #ffffff;
  height: 50px;
  width: 164px;
  border: none;
  border-radius: 25em;
  font-size: 1.1em;
  font-weight: 900;
}

@media screen and (min-width: 1024px) {
  .contact-form {
    padding: 1.5rem;
  }
  .contact-form form input[type=text] {
    width: 75%;
    margin-top: 12.5px;
    margin-bottom: 12.5px;
  }
  .contact-form form input[type=email] {
    width: 75%;
    margin-top: 12.5px;
    margin-bottom: 12.5px;
  }
  .contact-form form input[name=subject] {
    width: 75%;
  }
  .contact-form form textarea {
    height: 250px;
  }
}
@media screen and (min-width: 1150px) {
  .contact-form form input[type=text],
.contact-form form input[type=email] {
    width: 65%;
  }
  .contact-form form input[name=subject] {
    width: 65%;
  }
  .contact-form form textarea {
    width: 65%;
    height: unset;
  }
}
footer {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr auto auto;
  color: #fff;
  text-align: justify;
  padding: 1rem;
  background-color: #000080;
}

.copy {
  margin: auto;
}

.socials a {
  padding: 0.5rem;
  color: #fff;
  font-size: 2rem;
}

@media screen and (min-width: 1024px) {
  footer .socials a:hover {
    color: #9a9a9a;
  }
}
.bg-img {
  z-index: -1;
  position: fixed;
  top: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: blur(2px);
}

/*# sourceMappingURL=style.css.map */
